In [2]:
#import dependencies
import os 
import pandas as pd 

os.getcwd()

'/Users/kaileyoshaughnessy/Desktop/Bootcamp/Big Data'

In [9]:
#read in vine review 
df = pd.read_csv("vine_table.csv")

#check
df.head()

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2643619 entries, 0 to 2643618
Data columns (total 7 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   review_id          object
 2   star_rating        float64
 3   helpful_votes      float64
 4   total_votes        float64
 5   vine               object
 6   verified_purchase  object
dtypes: float64(3), int64(1), object(3)
memory usage: 141.2+ MB

In [11]:
#more than 20 votes 

new_df = df.loc[(df["total_votes"] >= 20)]

#check
#original error: forgot brackets around (df[]) so it came back as unhashable 
new_df.head()

,Unnamed: 0,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y

In [12]:
#filter based on helpful/total being greater than 50%

#first making a new variable 

new_df["percent"] = (new_df["helpful_votes"]/new_df["total_votes"]) * 100

#next make data frame where that is greater than 50 

third_df = new_df.loc[(new_df["percent"] > 50)]

#check

third_df.head()

/var/folders/w6/57rx9r9j4sg3y7bmczt55qxm0000gn/T/ipykernel_85439/2791591648.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["percent"] = (new_df["helpful_votes"]/new_df["total_votes"]) * 100

,Unnamed: 0,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,percent
128,128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y,87.096774
161,161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y,100.000000
256,256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y,93.548387
267,267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y,83.333333
719,719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y,96.428571

In [16]:
#vine program table 

vine_df = third_df.loc[(third_df["vine"] == "Y")]

#check
vine_df.head()

,Unnamed: 0,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,percent
8547,8547,R3A71VR1JZD8WF,2.0,27.0,30.0,Y,N,90.000000
10246,10246,R16OMUJIGI18JZ,5.0,72.0,72.0,Y,N,100.000000
25168,25168,R3TS8ZP2FHQ9XR,5.0,39.0,42.0,Y,N,92.857143
46422,46422,R2MHP919VZN7DI,5.0,29.0,30.0,Y,N,96.666667
66446,66446,RD2BCTVS59A5L,2.0,20.0,20.0,Y,N,100.000000

In [14]:
#not vine table 

not_vine_df = third_df.loc[(third_df["vine"] == "N")]

not_vine_df.head()

,Unnamed: 0,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,percent
128,128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y,87.096774
161,161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y,100.000000
256,256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y,93.548387
267,267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y,83.333333
719,719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y,96.428571